<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new word count</title>
</head>
<body>
    
    <select id="ocrime">
    </select>
    <script>
        function maior(){
            const selectElement = document.getElementById("ocrime");
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            const selectedValue = selectedOption.value;
            console.log(selectedValue);
        }
        fetch('http://localhost:5000/list_project_name')
            .then(function (response) {
                return response.json();
            }).then(function (apiJsonData) {
                renderOptions(apiJsonData);
            })
            const myOptions =document.getElementById("ocrime");
            
        function renderOptions(geral){
            console.log(geral);
            geral.forEach((gerals)=> {
                    let option = document.createElement("option")
                    console.log(gerals)
                    option.text = gerals.work_name;
                    option.value = gerals.work_id;
                    myOptions.appendChild(option);
            })
        }
        
    </script>
    <input onclick="maior()" type="button" value="nebturas">

</body>
</html>