<!DOCTYPE html>
<html>

<head>
    <title>Sucesso!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
    body{
      background-image: url('https://sothebys-brightspot-migration.s3.amazonaws.com/7c/d8/1c/6ad4583b3fcf647660700852ea40396463b26add223c2fca4d2f00ac5d/804l15133-8q8td.jpg');
    }
    .centralizaar {
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .a {
        text-decoration: none;
    }
</style>

<body>
    <div class="container mt-5">
        <div class="card-body" role="alert">
            <div class="centralizaar">

                <h2 class="alert-heading">Usuário Cadastrado com Sucesso!</h2>
            </div>
            <hr>
            <div class="centralizaar">
                <a class="btn" href="http://0.0.0.0:5000/home" style="font-size: xx-large;">RETORNE AO MENU</a>
            </div>
        </div>
    </div>
</body>

</html>