<!DOCTYPE html>
<html>

<head>
    <title>Sucesso!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Usuário Cadastrado com Sucesso!</h4>
            <p>O usuário foi cadastrado com sucesso no sistema.</p>
            <hr>
            <p class="mb-0">Obrigado por se cadastrar!</p>
            <a class="btn" href="C:\Users\sergr\OneDrive\Documentos\super secreto\nano\index.html">CADASTRAR MAIS UM</a>
        </div>
    </div>
</body>

</html>