<!DOCTYPE html>
<html>

<head>
    <title>Projetos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
    body{
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Albert_Aublet_-_Reading_on_the_garden_path_%281883%29.jpg');
    }
    .centralizaar {
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .a {
        text-decoration: none;
    }
</style>

<body>
    <script type="text/javascript">

        fetch('http://18.118.19.95:5000/all_works')
            .then(function (response) {
                return response.json();
            }).then(function (apiJsonData) {
                renderDataInTheTable(apiJsonData);
            })

        function renderDataInTheTable(todos) {
            const mytable = document.getElementById("html-data-table");
            let mentiras = 0;
            todos.forEach((todo) => {
                let newRow = document.createElement("tr");
                Object.values(todo).forEach((value) => {
                    let cell = document.createElement("td");
                    if(mentiras === 1){
                        let link = document.createElement("a");
                        // cell.innerText = value;
                        link.href = "http://18.118.19.95:5000/work/" + todo[0]; 
                        link.innerText = value;
                        cell.style.textAlign = "center";
                        cell.appendChild(link);


                    }else{
                        cell.innerText = value;
                        cell.style.textAlign = "center";

                    }
                    mentiras = mentiras + 1;

                    newRow.appendChild(cell);
                })
                console.log(mentiras)
                mytable.appendChild(newRow);
                mentiras = 0;

            });
        }
    </script>
     
    <div class="container mt-5">
        <div class="centralizaar">
            <div class="card" style="width: 70%;">
                <div class="card-body" role="alert">
                    <div class="centralizaar">
                        <h2 style=" font-weight: bold;" class="alert-heading">WORK LIST</h2>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="centralizaar">
                            <div id="data-table">
                                <table id="html-data-table">
                                    <tr>
                                        <th style="padding: 15px; text-align: center;">ID</th>
                                        <th style="padding: 15px; text-align: center;">title</th>
                                        <th style="padding: 15px; text-align: center;">words total</th>
                                        <th style="padding: 15px; text-align: center;">goal</th>
                                    </tr>
                                </table>    
                            </div>
                        </div>
                        <div class="row">
                                <a style="display: flex; justify-content: end;" href="http://localhost:5000/work_control">VOLTAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</body>

</html>