<!DOCTYPE html>
<html>

<head>
    <title>Sucesso!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<style>
    body{
      background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/45/Albert_Aublet_-_Reading_on_the_garden_path_%281883%29.jpg');
    }
    .centralizaar {
        display: flex;
        margin: 0;
        justify-content: center;
    }
    .a {
        text-decoration: none;
    }
</style>

<body>
    <div class="container mt-5">
        <div class="centralizaar">
            <div class="card" style="width: 70%;">
                <div class="card-body" role="alert">
                    <div class="centralizaar">
                        <h2 style=" font-weight: bold;" class="alert-heading">WORK LIST</h2>
                    </div>
                    <hr>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>